$bg-body: linear-gradient(hsl(273, 75%, 66%), hsl(240, 73%, 65%));
$bg-section: hsl(0, 0%, 100%);
$clr-text-1: hsl(237, 12%, 33%);
$clr-text-2: hsl(240, 6%, 50%);
$clr-text-hover: hsl(14, 88%, 65%);
$clr-divider: hsl(240, 5%, 91%);
$font: 'Kumbh Sans', sans-serif;